<%= render partial: 'reputations/reputation', locals: {rep_object: question} %>

<div class="card-content">
  <span class="card-title">Question from <%= question.user.username %></span>
  <h4 style="text-align: center;"><%= question.title %></h4>
  <br>
  <p><%= markdown(question.content) %></p>
</div>
<div class="card-action">
  <small>
    Posted By:
    <% if question.user.deleted_at.nil? %>
      <%= render partial: 'users/user', locals: {user: question.user} %>
    <% else %>
      <p>DELETED</p>
    <% end %>
    <%= question.created_at.strftime("on %m/%d/%Y") %> 
    <%= question.created_at.strftime("at %I:%M%p") %>
  </small> <br>
  <% if question.user == current_user %>
    <a href="#"> <%= link_to "Edit Question", edit_question_path(question) %> </a>
    <a href="#"> <%= link_to 'Destroy',  question,  method: :delete, data: { confirm: 'Are you sure?' } %> </a>
  <% end %>
</div>

