<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<div class="row question">
  <div class="col s10 offset-s1 card hoverable">
		<%= render :partial => "question", :locals => { :question => @question } %>
		<div class="row card-panel grey lighten-3">
      <ul class="comments">
        <%= render(partial: 'comments/comment', collection: @question.comments) %>  
      </ul>
    	<%= form_for [@question, Comment.new], scope: 'comment', remote: true do |f| %>
    		<%= f.hidden_field :user_id, value: @user.id %>
				<%= f.text_area :content, placeholder: "Add a comment", class: 'white col s9 m9', id: "comment-field" %>
    		<%= f.submit 'Comment', :class => 'waves-effect waves-light btn right comment s2 m2', remote: true %>
			<% end %>
		</div>
	</div>
</div>

<div class="row new_answer">
  
</div>


<% @answers.all.reverse.each do |answer| %>
<div class="row answer_wrapper answer_show">
  <div class="col s10 offset-s1">
    <div class="card hoverable">
      <div class="card-content">
          <%= render answer %>
      </div>
      <ul class="comments">
        <%= render(partial: 'comments/comment', collection: answer.comments) %>  
      </ul>
      <div class="row card-panel grey lighten-3">
        <%= form_for [answer, Comment.new], scope: 'comment', remote: true, class: "comment-field" do |f| %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <%= f.text_area :content, placeholder: "Add a comment", class: 'white col s9 m9', id: "comment-field" %>
          <%= f.submit 'Comment', :class => 'waves-effect waves-light btn right comment s2 m2', remote: true %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="row">
  <%= render '/answers/answer_form' %>
</div>