<li class="comment">
  <hr>
  <div class="row">
    <div class="col s10 offset-s1">
      <% if user_signed_in? %>
        
        <% if comment.user.id == current_user.id %>
          <%= link_to "X", post_comment_path(comment.id, comment), method: :delete, class: "waves-effect waves-light chip close delete-comment right", remote: true %>
        <% end %>
          
      <% end %>
      <p>
        <% if user_signed_in? %>
          <%= best_in_place_if comment.user.id == current_user.id, comment, :content, :as => :textarea %> - <%= comment.user.username %>
        <% else %>
          <%= comment.content %>
        <% end %>
      </p>

      <small class="col s12 m8">
        Submitted <%= time_ago_in_words(comment.created_at) %> ago
      </small>
      <hr>
    </div>
  </div>
</li>

