<% if @user.deleted_at.nil? %>


	<% if @user.badge %>

		<% if @user.badge.initiated == false %>

			<%= render 'badges/initiated'  %>

			<div class="tap-target" data-activates="trophy-button">
		    <div class="tap-target-content">
		      <h5>Check Here!</h5>
		      <p>To see what new trophies you have earned.</p>
		    </div>
		  </div>

		 	<a class="waves-effect waves-light btn modal-trigger" id="trophy-button" href="#initiated-modal">First Trophy!</a>

		<% end %>

		<% if @user.reputation > 50 && @user.badge.noob == false %>

			<%= render 'badges/noob'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#noob-modal">Noob Trophy!</a>

		<% end %>

		<% if @user.reputation < -50 && @user.badge.dunce == false %>  

				<%= render 'badges/dunce'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#dunce-modal">Dunce Trophy?</a>
		<% end %>

		<% if @user.reputation >= 200 && @user.badge.pleb == false %>  

				<%= render 'badges/pleb'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#pleb-modal">Pleb Trophy!</a>
		<% end %>


		<% if @user.reputation >= 600 && @user.badge.hacker == false %>  

				<%= render 'badges/hacker'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#hacker-modal">Hacker Trophy!</a>
		<% end %>


		<% if @user.reputation >= 900 && @user.badge.leet == false %>  

				<%= render 'badges/leet'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#leet-modal">1337 Trophy!</a>
		<% end %>


		<% if @user.reputation >= 1200 && @user.badge.codebae == false %>  

				<%= render 'badges/codebae'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#codebae-modal">Codebae Trophy!</a>
		<% end %>


		<% if @user.reputation >= 5000 && @user.badge.ninja == false %>  

				<%= render 'badges/ninja'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#ninja-modal">Ninja Trophy!</a>
		<% end %>


		<% if @user.answers.count >= 30 && @user.badge.helpful == false %>  

				<%= render 'badges/helpful'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#helpful-modal">Helpful Trophy!</a>
		<% end %>


		<% if @user.questions.count >= 10 && @user.badge.seeker == false %>  

				<%= render 'badges/seeker'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#seeker-modal">Seeker Trophy!</a>
		<% end %>



		<% if @user.posts.count > 10 && @user.badge.mastermind == false %>  

				<%= render 'badges/mastermind'  %>

		 	<a class="waves-effect waves-light btn modal-trigger" href="#mastermind-modal">Mastermind Trophy!</a>
		<% end %>

	<% end %>

	<ul class="collapsible col s8 offset-s2 hoverable" data-collapsible="accordion">
	  <li>
	    <div class="collapsible-header">
	    	<div class="profile_pic_wrapper">
	    		<%= image_tag @user.avatar.url(:medium), class: "profile_pic" %>
	    	</div>
	    	
	    	<div>
		    	<h5> <i class="material-icons left">filter_drama</i>	<%= @user.username %> </h5>
		    	Reputation: <%= @user.reputation %>
		    	<br>
		    	<% if @user.reputation < 20 %>
		    		<p>Rank: n00b</p>
		    	<% elsif @user.reputation < 200 %>
		    		<p>Rank: pl3b</p>
		    	<% elsif @user.reputation < 600 %>
		    		<p>Rank: h@x0r</p>
		    	<% elsif @user.reputation < 900 %>
		    		<p>Rank: 1337</p>
		    	<% elsif @user.reputation < 1200 %>
		    		<p>Rank: codebae</p>
		    	<% elsif @user.reputation > 5000 %>
		    		<p>Rank: ninj@</p>

		    	<% end %>
	    	</div>
	    	

	    </div>
	    	
	    <div class="collapsible-body">
	    	<span>
	    		<% if @user.about? %>
	    			<%= @user.about %>
	    		<% else %>
	    			<p>This person is very mysterious...</p>
	    		<% end %>
	    	</span>
	    </div>
	  </li>
	  <li>
	    <div class="collapsible-header"><i class="material-icons">grade</i>Stats</div>
	    <div class="collapsible-body">
	    	<span>
	    		<ul>
						<li><i class="material-icons left">hot_tub</i> Questions Asked: <%= @user.questions.count  %></li>
						<br>
						<li><i class="material-icons left">healing</i> Answers Given: <%= @user.answers.count  %></li>
						<br>
						<li><i class="material-icons left">highlight</i> Comments Made: <%= @user.comments.count  %></li>
						<br>
						<li><i class="material-icons left">landscape</i> Current Reputation: <%= @user.reputation %></li>
					</ul>	
		    </span>
		  </div>
	  </li>
	  <li>
	    <div class="collapsible-header"><i class="material-icons">whatshot</i>Trophies</div>
	    <div class="collapsible-body">
	    	<span class="row">
	    		<% if @user.badge %>
	    			<span class="col s2">
		    			<% if @user.badge.initiated == true %>
		    				<span class="card">Trophy!</span>
		    			<% else %>
		    				<span class="card">No Trophy...</span>
		    			<% end %>
	    			</span>
	    		<% else %>
	    			<h1>Ya Got Nothin'</h1>
	    		<% end %>

	    	</span>
	    </div>
	  </li>
	</ul>

	<% if @user.id == current_user.id %>
		<%= link_to "<i class='material-icons right'>edit</i>Edit Profile".html_safe, edit_user_registration_path, class: 'waves-effect waves-light btn' %>
	<% end %>

<% else %>
	<h3 class='user_has_deleted red-text'><%= @user.username %> has deleted their account</h3>
<% end %>


<script>
	$('.collapsible').collapsible();

  $('.modal').modal();

  $('.tap-target').tapTarget('open');

</script>