<div class="post_wrapper">
	<div class="post_content">
		
		<%= render partial: 'reputations/reputation', locals: {rep_object: post} %>

		<% if local_assigns[:full] %>
		<% else %>
			
			<% if user_signed_in? %>
				<div style="float: right;">
				  <% if post.user.id == current_user.id %>
				    <%= link_to "edit", edit_post_path(post), class: 'material-icons color_black' %>
				    <%= link_to "delete", post, method: :delete, remote: true, class: 'post_delete color_black material-icons' %>
				  <% end %>
			  </div>
		  <% end %>
		  
		<% end %>

		<p style="text-align: center; font-size: 2em;"> 
			<%= post.title %> 
		</p>
		<p>
		<% if local_assigns[:full] %>
			<div class="truncate"> 
				<%= markdown(post.content) %>
			</div>
		<% else %>
			<%= markdown(post.content) %>
		<% end %>
		</p>
		<br>
		<div class="row">
			<small class="col s3 offset-s9">
				Posted by:
				<% if params[:id].nil? %>
					<% if post.user.deleted_at.nil? %>
						<%= post.user.username %>
					<% else %>
						DELETED
					<% end %>
				<% else %>
					<% if post.user.deleted_at.nil? %>
						<%= render partial: 'users/user', locals: {user: post.user} %>
					<% else %>
						DELETED
					<% end %>
				<% end %>
				<%= post.created_at.strftime("on %m/%d/%Y") %> 
				<%= post.created_at.strftime("at %I:%M%p") %>
			</small>
		</div>
	</div>
	 <% post.tag_list.each do |tag| %>
    <div class="chip">
      <%= tag %>
      <% if user_signed_in? %>
        <% if post.user == current_user %>
          <i class="close material-icons close_post_tag" data-post-id="<%= post.id%>">close</i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
