<div class="post_wrapper">
	<div class="post_content">
		
		<%= render partial: 'reputations/reputation', locals: {rep_object: post} %>

		<p style="text-align: center; font-size: 2em; "> <%= post.title %> </p>
		<% if local_assigns[:full] %>
			<%= truncate(markdown(post.content), length: 90, escape: false) %>
		<% else %>
			<%= markdown(post.content) %>
		<% end %>
		<div>
			<small>
				Posted by:
				<% if params[:id].nil? %>
					<% if post.user.deleted_at.nil? %>
						<%= post.user.username %>
					<% else %>
						DELETED
					<% end %>
				<% else %>
					<% if post.user.deleted_at.nil? %>
						<%= render partial: 'users/user', locals: {user: post.user} %>
					<% else %>
						DELETED
					<% end %>
				<% end %>
				<%= post.created_at.strftime("on %m/%d/%Y") %> 
				<%= post.created_at.strftime("at %I:%M%p") %>
			</small>
		</div>
	</div>
	<div>
		<% if params[:id].nil? %>
		  <%= link_to "Full Post", post %>
		<% end %>	
	  <% if post.user.id == current_user.id %>
	    <%= link_to "Edit Post", edit_post_path(post)  %>
	    <%= link_to "Delete", post, method: :delete, remote: true, class: 'post_delete'%>
	  <% end %>	
	</div>
</div>
