<!DOCTYPE html>
<html>
  <head>
    <title>NoobOverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  	
  	<style>
    	input[id="search"] {
				height: 40px !important; 
  			margin-top: 10px;
   			border-radius: 10px !important;
   			cursor: pointer;
			}
			.search-input{
      	background-color: #b388ff;
  			height: 40px !important; 
  			margin-top: 10px;
  			border-radius: 10px;
  			width: 60% !important;
			}
			nav .input-field label {
    		top: -23px;
    		left: 0;
    		cursor: pointer;
			}

			.user-hub {
				width: 100%;
			}
    </style>
  </head>

  <body>
		<% if user_signed_in? %>
 	  	<ul id="user-dropdown" class="dropdown-content">
 	  		<li><%= link_to "View Profile", user_path(current_user) %></li>
	  		<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	  		<li class="divider"></li>
	  		<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	  		<% if current_user.reputation >= 500 %>
      		<li><%= link_to "New Blog Post", new_post_path %></li>
      	<% end %>
			</ul>
		<% end %>
		  
		</ul>
	  <div class="navbar-fixed">
		  <nav class="purple accent-3" >
		    <div class="nav-wrapper">
		      <div class="row">
		        <div class="col s2">
		          <ul class="left">
		          <li><a href="#"><%= link_to "n00b 0verfl0w", root_path %></a></li>
		          </ul>
		        </div>
		        <div class="col s5">
		          <form class="search-input">
		            <div class="input-field">
		            <input id="search" type="search" />
		            <label for="search"><i class="material-icons">search</i></label>
		            </div>
		          </form>
		        </div>
		        <div class="col s5">
		          <ul class="right">
		            <% if user_signed_in? %>

		            	<li><%= link_to "View Blog Posts", posts_path %></li>
 	      					<li> <%= link_to "Ask Question", new_question_path %></li>
		      				<li><a class="dropdown-button" href="#!" data-activates="user-dropdown"><%= current_user.username %>
	      						<i class="material-icons right">arrow_drop_down</i></a>
	      					</li>
	        			<% else %>
	        				<li><%= link_to "Login", new_user_session_path %></li>
		        			<li><%= link_to "Create Account", new_user_registration_path %></li>
	        			<% end %>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </nav>
		</div>
		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <script>
    	$(function(){

				$(".dropdown-button").dropdown({ hover: false });

				$(".button-collapse").sideNav();


			});
    </script>
  </body>
</html>
