<!DOCTYPE html>
<html>
  <head>
    <title>NoobOverflow</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<%= favicon_link_tag 'visual_thought.png' %>


  </head>

  <body>
		<% if user_signed_in? %>
 	  	<ul id="user-dropdown" class="dropdown-content purple darken-3">
 	  		<li><%= link_to "View Profile", user_path(current_user) %></li>
	  		<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	  		<li class="divider"></li>
	  			<% if current_user.reputation >= 500 %>
      			<li><%= link_to "New Blog Post", new_post_path %></li>
			  		<li class="divider"></li>
      		<% end %>
	  		<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	  	</ul>
		<% end %>
		  
		</ul>
	  <div class="navbar-fixed">
		  <nav class="nav-color" >
		    <div class="nav-wrapper">
		      <div class="row">
		        <div class="col s2">
		          <ul class="left">
		          <li><a href="#"><%= link_to "n00b 0verfl0w", root_path %></a></li>
		          </ul>
		        </div>
		        <div class="col s5">
		          <!-- <form class="search-input"> -->
		            <div class="input-field search-input">
		            <%= form_tag(search_index_path, method: 'get') do %>
                	<%= text_field_tag :search, params[:search], :autocomplete => :on, :id => 'search', type: 'search', placeholder: "Seach by Tag" %>
              	<% end %>
		            <label for="search"><i class="material-icons left">search</i></label>
		            </div>
		          <!-- </form>searchit -->
		        </div>
		        <div class="col s5">
		          <ul class="right">
	            	
		            <% if user_signed_in? %>
 	      					<li> <%= link_to "Ask Question", new_question_path %></li>
		      				<li><a class="dropdown-button" href="#!" data-activates="user-dropdown"><%= current_user.username %>
	      						<i class="material-icons right">arrow_drop_down</i></a>
	      					</li>
	        			<% else %>
	        				<li><%= link_to "Login", new_user_session_path %></li>
		        			<li><%= link_to "Create Account", new_user_registration_path %></li>
	        			<% end %>
	        			<li><%= link_to "Blog", posts_path %></li>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </nav>
		</div>
		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <script>
    	$(function(){

				$(".dropdown-button").dropdown({ hover: false });

				$(".button-collapse").sideNav();

				$('ul.tabs').tabs();


			});
    </script>
  </body>
</html>
