<div class="container">
  <div class="row">
    <div class="account col s9 offset-s2">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
        <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :username %><br />
            <i class="tiny material-icons red-text" id="username_fail">sentiment_very_dissatisfied</i>
            <i class="tiny material-icons green-text" id="username_win">sentiment_very_satisfied</i>
            <%= f.text_field :username, :class => 'validate', id: 'new_username' %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <i class="tiny material-icons red-text" id="email_fail">sentiment_very_dissatisfied</i>
            <i class="tiny material-icons green-text" id="email_win">sentiment_very_satisfied</i>
            <%= f.email_field :email, :class => 'validate', id: 'new_email' %>
          </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'waves-effect waves-light btn' %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>